<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="header">
            <a class="backBtn" href="http://localhost:8080/homeAdmin">Back</a>
        </div>
        <div class="box">
            <div class="name">
                
                <h1>John Doe</h1>
            </div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Joined date</th>
                    <th>Status</th>
                </tr>
                <%
                if (users.length>0){
                    var i =1;
                    users.forEach(function (user){
                %>
                <tr>
                    <td><%= user.id%></td>
                    <td><%= user.name%></td>
                    <td><%= user.nickname%></td>
                    <td><%= user.email%></td>
                    <td><%= user.role%></td>
                    <td><%= user.joined_date%></td>
                    <td><%= user.status%></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr><td colspan="7">NO DATA FOUND</td></tr>
                <% } %>
            </table>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Category date</th>
                </tr>
                <%
                if (posts.length>0){
                    var i =1;
                    posts.forEach(function (post){
                %>
                <tr>
                    <td><%= post.id%></td>
                    <td><%= post.title%></td>
                    <td><%= post.created_date%></td>
                    <td><%= post.content%></td>
                    <td><%= post.author_id%></td>
                    <td><%= post.category_id%></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr><td colspan="7">NO DATA FOUND</td></tr>
                <% } %>
            </table>

        </div>

    </body>
    <style>
        body{
           margin: 15px; 
        }
        #lock{
            color:yellow;
        }
        .backBtn{
            margin:15px;
            text-decoration: none;
            color: black;
        }
        .box{
            background-color: rgb(189, 186, 186);
            height: 80%;
            width: 90%;
            margin: auto auto auto auto;
            border-radius: 20px;
        }
        .name{
            background-color: aqua;
            width: 100%;
            color: rgb(0, 0, 0);
            text-align: center;
            border-radius: 25px;
            margin: 0 auto 0 auto;
        }
        .header>a:hover{
            background-color: white;
            border: 5px solid aqua;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
        }
        li{
            list-style: none;
            margin: 4px;
            color: white;
        }
        .post:hover{
            background-color: #818181;
        }
        h3{
            size: 1.5em;
            font-weight: bold;
        }
        .postDetails{
            display: inline-flex;
            align-items: flex-end;
        }
        table,th,td{
            align-items: left;
            
            width: 90%;
            border:5px solid black;
            color: black;
        }
        th,td{
            width: auto;
        }
        table{
            margin: 20px auto 10px auto;
        }
       
    </style>
</html>